# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Coverage
coverage

# Transpiled files
build/

# VS Code
.vscode
!.vscode/tasks.js

# JetBrains IDEs
.idea/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Misc
/.env
.DS_Store
.backup
_node_modules
_yarn.lock
_src
yarn.lock
/flat
/docs
/build
.DS_Store

# Nextron
.next
app
# dist
renderer/.next
