coverage/
/.dev
/docs
/readme
/build
/contracts
/node_modules
/migrations
/scripts
/test
typedoc.json
.travis.yml
*.ts
.env

source
tests
tslint.json
package-lock.json
yarn.lock
*.tsbuildinfo

!*.d.ts
!.js